{% extends "authentication/auth_base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h3 class="mb-4">Login to <strong>CinemaHub</strong></h3>
<p class="mb-4">Please enter your password to continue.</p>

<form method="post">
    {% csrf_token %}
    <div class="form-group last mb-3">
        {{ form.password }}
        {% if form.password.errors %}
        <div class="text-danger mt-1">{{ form.password.errors.0 }}</div>
        {% endif %}
    </div>

    <input type="submit" value="Log In" class="btn btn-block submit-btn">
</form>
{% endblock %}
