{% extends "authentication/auth_base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<h3 class="mb-4">Register for <strong>CinemaHub</strong></h3>
<p class="mb-4">Please enter your information to continue.</p>

<form method="post">
    {% csrf_token %}

    <div class="mb-3">
        {{ form.first_name }}
        {% if form.first_name.errors %}
        <div class="text-danger mt-1">{{ form.first_name.errors.0 }}</div>
        {% endif %}
    </div>

    <div class="mb-3">
        {{ form.last_name }}
        {% if form.last_name.errors %}
        <div class="text-danger mt-1">{{ form.last_name.errors.0 }}</div>
        {% endif %}
    </div>

    <div class="mb-3">
        {{ form.password }}
        {% if form.password.errors %}
        <div class="text-danger mt-1">{{ form.password.errors.0 }}</div>
        {% endif %}
    </div>

    <div class="mb-4">
        {{ form.confirm_password }}
        {% if form.confirm_password.errors %}
        <div class="text-danger mt-1">{{ form.confirm_password.errors.0 }}</div>
        {% endif %}
    </div>

    <input type="submit" value="Register" class="btn btn-block submit-btn">
</form>
{% endblock %}
